<html>

<head>
    <meta charset="utf8" />
    <title>Purchase Order</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            font-family: 'Lato', sans-serif;
            font-size: 0.625em;
            /* margin: -20mm 5mm -5mm 5mm; */
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        /*comn colrs*/
        
        .colr-blue {
            color: #2c378a;
        }
        
        .colr-lite-blue {
            color: #5561bd;
        }
        
        .colr-white {
            color: #ffffff;
        }
        
        .colr-black {
            color: #353434;
        }
        
        .colr-grey {
            color: #9ea8b7;
        }
        
        .bg-color-blue {
            background-color: #2c378a;
        }
        
        .bg-color-grey {
            background-color: #f5f6f8;
        }
        /*header divs*/
        
        .div-h1 {
            font-size: 37px;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-style: normal;
            line-height: normal;
            letter-spacing: -1px;
        }
        
        .div-h2 {
            font-family: 'Lato', sans-serif;
            font-size: 11px;
            padding: 24px 10px;
            color: #5a6169;
            padding-left: 32px;
            font-weight: 900;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
        }
        
        .div-h3 {
            font-family: 'Lato', sans-serif;
            font-size: 11px;
            font-weight: 400;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
        }
        /*comn uses*/
        
        .d-flex {
            display: -webkit-flex;
        }
        
        .txt-alg-cntr {
            text-align: center;
        }
        
        .txt-alg-right {
            text-align: right;
        }
        
        .txt-alg-left {
            text-align: left;
        }
        
        .width-20 {
            width: 20%;
        }
        
        .width-30 {
            width: 30%;
        }
        
        .width-33-33 {
            width: 33.3333%;
        }
        
        .width-40 {
            width: 40%;
        }
        
        .width-30 {
            width: 30%;
        }
        
        .width-50 {
            width: 50%;
        }
        
        .width-64 {
            width: 64%;
        }
        
        .width-60 {
            width: 60%;
        }
        
        .width-70 {
            width: 70%;
        }
        
        .width-80 {
            width: 80%;
            margin: auto;
        }
        /* margins */
        
        .m-tp-16 {
            margin-top: 16px;
        }
        
        .m-btm-16 {
            margin-bottom: 16px;
        }
        
        .m-btm-32 {
            margin-bottom: 32px;
        }
        
        .m-btm-32 {
            margin-bottom: 32px;
        }
        
        .m-btm-8 {
            margin-bottom: 8px;
        }
        
        .m-btm-16 {
            margin-bottom: 16px;
        }
        
        .m-btm-4 {
            margin-bottom: 4px;
        }
        
        .m-top {
            margin-top: 8px;
        }
        
        .m-left-4 {
            margin-left: 4px;
        }
        /* paddings */
        
        .p-t-b-4 {
            padding-top: 10px;
            padding-bottom: 4px;
        }
        
        .p-t-4 {
            padding-top: 4px;
        }
        
        .p-24 {
            padding: 24px;
        }
        
        .p-btm-16 {
            padding-bottom: 16px;
        }
        
        .p-box-one {
            padding: 40px;
            padding-right: 0px;
            padding-left: 80px;
        }
        
        .p-8 {
            padding: 8px;
        }
        
        .p-left-25 {
            padding-left: 25px;
        }
        
        .p-right {
            padding-right: 8px;
        }
        
        .p-left {
            padding-left: 8px;
        }
    </style>
</head>

<body>
    <div class="width-80">
        <div class=" m-btm-32 m-tp-16 ">
            <div class="d-flex">
                <div class="width-64 ">
                    <img class="m-btm-16" src="https://dev.freo.io/pppagency/img/img-prologo.png" alt="Pro Producer Pro Logo">
                    <div class="colr-grey">
                        <p class="div-h3"> <b style="color: black; margin-bottom: 8px;"> RPG Productions Private Ltd </b><br> No. 101, Cosy Nook, <br>7/13, Mcpherson Road<br> Cooke Town <br>Bangalore
                            <br> GSTIN: 22AAAAA0000A1Z5 <br> admin@rpg-productions.com <br>
                        </p>
                    </div>
                </div>
                <div class="width-30">
                    <div class="div-h1 m-btm-16 txt-alg-left">
                        Invoice
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex div-h2 bg-color-grey p-24">
            <p class="width-50">TO</p>
            <p class="width-30">DATE</p>
            <p class="width-20 txt-alg-left">INVOICE NO</p>
        </div>
        <div>
            <div class="d-flex div-h3 p-24">
                <p class="width-50" style="word-break: break-all; padding-right: 20px;">
                    <%=name%><br>
                        <%=email%><br>
                            <%=address%><br></p>
                <p class="width-30">
                    <%=dateCreated%>
                </p>
                <p class="width-20 txt-alg-left">
                    <%=invoiceId%>
                </p>
            </div>
        </div>
        <div class="d-flex div-h2 bg-color-grey p-24">
            <p class="width-80"> PRODUCT</p>
            <p class="width-20 txt-alg-left"> AMOUNT</p>
        </div>
        <div class="d-flex div-h3 m-btm-32 p-24">
            <p class="width-80">
                <%=product%>
            </p>
            <p class="width-20 txt-alg-left"> ₹
                <%=amount%>
            </p>
        </div>
        <div class="d-flex div-h3 m-btm-32 p-24">
            <p class="width-30 txt-alg-left"><%=amountInWords%></p>
        </div>
        <div class="d-flex div-h3 m-btm-32 p-24">
            <p class="width-30 txt-alg-left colr-grey"> All amounts are in INR (₹)</p>
        </div>
        <div class="d-flex div-h3 m-btm-32 p-24">
            <p class="width-100 txt-alg-cntr colr-grey"> This is a computer generated invoice, no signature required</p>
        </div>
    </div>
</body>

</html>